#main-wrapper {
  width:100%;
  height:100%;
  page-break-after:always
}

@page {
  size: auto;
  margin: 0.5mm;
}

img {
  display: none !important;
}

body {
  font-family: 'Hind', sans-serif;
  font-size: 25px;
  line-height: 1.8em;
  color: black;
  font-weight: 300;
  background-color: red;
}


.social-icon li {
    display : none;
    }





h1 {
  font-size: 40px;
  line-height: 2em;
  font-weight: 700;
  margin: 0 0 15px;
  color: #2b2b3d;
}

h2 {
  font-size: 36px;
  line-height: 1.8em;
  font-weight: 700;
  margin: 0 0 15px;
  color: #2b2b3d;
}

small, h3, h4, h5, h6 {
  font-size: 28px;
  line-height: 1.8em;
  font-weight: 500;
  margin: 0 0 15px;
  color: #2b2b3d;
  font-family: 'Hind', sans-serif;
}

.header .content .lead {
  font-size: 28px;
  line-height: 2em;
}

.columns-block {
  padding: 1px;
  display: block;
  width: 90%;
  max-width: 90%;
}

.left-col-block {
  padding: 15px;
  display: block;
}

.contentcollapsible {
  padding: 15px;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*
      *, :after, :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
      }

      a, a:visited {
        text-decoration: underline
      }

      a[href]:after {
        content: " ("attr(href) ")"
      }

      abbr[title]:after {
        content: " ("attr(title) ")"
      }

      a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""
      }

      blockquote, pre {
        border: 1px solid #999;
        page-break-inside: avoid
      }

      thead {
        display: table-header-group
      }



      h2, h3, p {
        orphans: 3;
        widows: 3
      }

      h2, h3 {
        page-break-after: avoid
      }


      .btn>.caret, .dropup>.btn>.caret {
        border-top-color: #000 !important
      }

      .label {
        border: 1px solid #000
      }


    */

    .print-only {
        display: block;
        }

      .portfolio-thumb{
        display: none;
      }
